<div class="main">  
    <img class="center-image" src="../../assets/favicon.png">
<div class="legal-costs">
    Przewidywania:
    @if(costData !== null) {
        <div class="cost-details">
            <p class="text-gap"> Minimalny koszt: <span class="cost">{{costData.cost_of_trial}}</span> zł <br> </p>
            Średni czas:   <span class="time"> 20 </span> miesięcy
        </div>
    }
</div>


<h1 class="bait"> Skorzystaj z pomocy mediatora </h1>
<div class="center-button"> 
<button mat-raised-button color="primary" class="find-mediator" type="submit" (click)="onSubmit()" class="submit-button">Znajdź Mediatora</button>
</div>

</div>