<form [formGroup]="userInputForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Opis Sprawy</mat-label>
      <textarea matInput formControlName="generic_input"> </textarea>
    </mat-form-field>
  
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Wartość Przedmiotu Sporu</mat-label>
      <input matInput type="number" formControlName="trial_value">
    </mat-form-field>
  
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Lokacja</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>
  
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <mat-checkbox formControlName="experts_called">Powołani Biegli</mat-checkbox>
      <mat-checkbox formControlName="witnesses_called">Powołani Świadkowie</mat-checkbox>
    </div>
  
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" fxFlexAlign="end">Wyślij</button>
  </form>
  