<div class="page-container">
<form [formGroup]="userInputForm" (ngSubmit)="onSubmit()" class="lawyering-form">
  <h1 class="center"> Oblicz koszta i czas sporu </h1>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Opis Sprawy</mat-label>
    <textarea matInput formControlName="generic_input" class="text-area-input"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Wartość Przedmiotu Sporu</mat-label>
    <input matInput type="number" formControlName="trial_value" class="numeric-input">
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Lokacja</mat-label>
    <input matInput formControlName="location" class="text-input">
  </mat-form-field>

  <div class="checkbox-group">
    <mat-checkbox formControlName="experts_called" class="custom-checkbox">Powołani Biegli</mat-checkbox>
    <mat-checkbox formControlName="witnesses_called" class="custom-checkbox">Powołani Świadkowie</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" class="submit-button">Wyślij</button>
</form>
</div>